<!DOCTYPE html>
<html>
	<head>
		<title>anime-provider</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="mobile-web-app-capable" content="yes">
	 	<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />

		<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	</head>
	<body>
		<div data-role="page">
			<div data-role="header" data-position="fixed" class="wow fadeInDown" data-wow-delay="0.2s">
				<h1 class="wow fadeIn" data-wow-delay='0.4s'>動畫資訊</h1>
			</div>
			<div role="main" class="ui-content" data-inset="false">
				<span class="nd2-title">資料來源:<a href="https://share.dmhy.org/cms/page/name/programme.html">動漫花園</a></span>
				<h2>若遇到亂碼，請重新整理取得最新資料</h2>
				<table data-role="table" id="torrent-table" data-mode="flow" class="ui-responsive table-stroke">%</table>
			</div>
		</div>
	</body>
</html>